:root {
  /* Primary Colors */
  --forest-green: #4CAF50; /* Use for buttons and highlights */
  --sand-beige: #f0f3e1;/* Use for main backgrounds */

  /* Secondary Colors */
  --earth-brown: #8B4513;  /* Use for smaller text or decorative elements */
  --mint-green: #edfaeb;   /* Use for section backgrounds or subtle highlights */

  /* Neutral Colors */
  --snow-white: #FFFFFF;
  --light-gray: #EEEEEE;
  
  /* Gradients */
  --gradient-primary: linear-gradient(90deg, #a6f59c 0%, #588550 100%);
  --gradient-overlay: linear-gradient(180deg, rgba(145, 199, 136, 0.15) 0%, rgba(82, 115, 77, 0.1) 100%);
  
  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Modern background with layered design */
body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color:var(--mint-green);
}


#__next {
  position: relative;
  z-index: 2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  color: black;
}

ul {
  list-style: none;
}

/* Estilo base das setas */
.slick-arrow {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgba(0, 0, 0, 0.4) !important; /* Transparência elegante */
  backdrop-filter: blur(5px); /* Efeito Glassmorphism */
  border-radius: 50% !important;
  height: 50px !important;
  width: 50px !important;
  z-index: 10 !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  transition: all 0.3s ease-in-out !important;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
}

/* Efeito no hover */
.slick-arrow:hover {
  background: rgba(0, 0, 0, 0.8) !important; /* Mais visível no hover */
  transform: translateY(-50%) scale(1.1) !important;
  border-color: rgb(255, 255, 255) !important;
}

/* Ícones das setas */
.slick-prev:before, 
.slick-next:before {
  font-size: 24px !important; /* Tamanho maior para melhor visibilidade */
  color: white !important; /* Ícone sempre branco */
  opacity: 1 !important;
}

/* Ajuste da posição */
.slick-prev {
  left: -20px !important; /* Afastado do conteúdo */
}

.slick-next {
  right: -20px !important;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }
}
